<div class="box box-primary">
    <form ng-submit="addContent()">
    <!-- form start -->
      <div class="box-body">
        <div class="form-group" ng-repeat="column in columns | filter:column.is_sequence == false">
          <label>{{column.name | capitalize}}</label>
          <input id="{{column.name}}" class="form-control" name="{{column.name}}" ng-model="contentItem[column.name]">
        </div>
      </div><!-- /.box-body -->

      <div ng-show="columns" ng-cloak class="box-footer">
        <a href="#/list/{{pageName}}"><button class="btn btn-default">List</button></a>
        <button class="btn btn-primary" type="submit">Add</button>
      </div>
  </form>
</div>
