<div class="box box-primary">
<!-- form start -->

  <div class="box-body">

    <div class="form-group" ng-repeat="column in columns  | filter:column.is_sequence == false">
      <label>{{column.name | capitalize}}</label>
      <input id="{{column}}" class="form-control" value="{{data[column.name]}}">
    </div>
  </div><!-- /.box-body -->

  <div class="box-footer">
    <a href="#/list/{{pageName}}"><button class="btn btn-default">Back</button></a>
    <button class="btn btn-primary">Edit</button>
  </div>
</div>
