<div class="box" >
  <div class="box-header">
    <a href="#/add/{{pageName}}">
        <button class="btn btn-block btn-primary btn-flat" style="width: 80px">Add</button>
    </a>
  </div><!-- /.box-header -->
  <div class="box-body table-responsive">
      <table ng-if="cells" id="dataTable" class="table table-bordered table-hover">
        <thead>
          <tr >
              <th ng-repeat="column in columns">
                  {{column.name | capitalize}}
              </th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cell in cells">
              <td ng-repeat="column in columns">
                  {{cell[column.name]}}
              </td>
              <td align="center">
                  <a href="#/edit/{{pageName}}/{{cell[primaryName]}}"><button class="btn btn-block btn-default btn-flat" style="width:70px">Edit</button></a>
              </td>
              <td align="center">
                  <button class="btn btn-block btn-danger btn-flat" style="width:70px" ng-click="delete(1)">Delete</button>
              </td>
            </tr>
        </tbody>
        <tfoot>
          <tr>
              <th ng-repeat="column in columns">
                  {{column.name}}
              </th>
          </tr>
        </tfoot>
      </table>
  </div><!-- /.box-body -->
</div><!-- /.box -->
